<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div th:replace="footer :: nav"></div>	
  <span>Orders:</span>
  <table>
  	<tr>
  	    <th>Type</th>
  		<th>Quantity</th>
  		<th>Price</th>
	</tr>
    <tr th:each="order, iterStat: ${orderBook}">
      <td th:text="${order.message.messageType}">${order.message.messageType}</td>
      <td th:text="${order.quantity}">${order.quantity}</td>
      <td th:text="${order.price}">${order.price}</td>
    </tr>
  </table>
  
</body>
</html>